section.vbox
  header.header.bg-light.dker
    p Welcome to our app

  section.scrollable.wrapper
    div.row
      div.col-lg-8
        section.panel
          div#form-wizard.wizard.clearfix
            ul.steps
              li.active
                span.badge.badge-info 1
                span Step 1
              li
                span.badge.badge-info 2
                span Step 2

          div.step-content
            div.step-pane.active
              form
                h2 Step 1
                label(for='website') Paste your link here:
                div.input-group
                  input.form-control(type='text', ng-model="websiteUrl", placeholder='website', id='website')
                  span.input-group-btn
                    button.btn.btn-primary(type='submit' ,ng-click='processUrl(websiteUrl)') Process url

            div.step-pane.active.m-t-lg
              form(name='item_form')
                h2  Step 2
                div.row
                  div.col-lg-12.m-b.form-group(ng-class='{"has-error": dirtyAndInvalid(item_form.title)}')
                    label.control-label(for='item-title') Title:
                    input.form-control(id='item-title', type='text', name='title', placeholder='title', ng-model='item.title', required)
                    span.help-block.m-b-none(ng-if='dirtyAndInvalid(item_form.title)') Title is required

                  div.col-lg-6.img-full.text-center
                    img.m-t(ng-src="{{ item.image || '/images/gift.png' }}", ng-class="{'empty-img': !item.image}")
                  div.col-lg-6
                    label.control-label(for='item-image') Paste image link:
                    input.form-control(
                      type='text',
                      placeholder='image url',
                      ng-model='itemImgUrl',
                      id='image')
                    div.form-group(ng-class='{"has-error": dirtyAndInvalid(item_form.price)}')
                      label.control-label.m-t(for='item-price') Price:
                      input.form-control(
                        id='item-price', type='text', name='price', placeholder='price $',
                        ng-model='item.price')
                    button.btn.btn-success.m-t(type='submit', ng-click='saveItem()', ng-disabled='item_form.$invalid') Create


            //- div.actions.m-t
            //-   button.btn.btn-white.btn-sm.btn-prev(type='button', disabled='disabled') Prev
            //-   button.btn.btn-white.btn-sm.btn-next.m-l-xs(type='button') Next

      div.col-lg-4
        div.dropdown
          a.dropdown-toggle Click me for a dropdown, yo!
          ul.dropdown-menu
            li(ng-repeat='choice in testItems')
              a {{ choice }}
