section.vbox
  header.header.bg-light.dker
    p Welcome to our app

  section.scrollable.wrapper
    div.row
      div.col-lg-8
        section.panel
          div#form-wizard.wizard.clearfix
            ul.steps
              li.active
                span.badge.badge-info 1
                span Step 1
              li
                span.badge.badge-info 2
                span Step 2

          div.step-content
            form
              div.step-pane.active
                h2 Step 1
                label(for='website') Paste your link here:
                input.form-control(type='text', ng-model="websiteUrl", placeholder='website', id='website')
                input(type='submit',value='Process url',ng-click='processUrl(websiteUrl)')

              div.step-pane.active.m-t-lg
                h2  Step 2
                div.row
                  div.col-lg-12.m-b
                    label(for='item-title') Title:
                    input.form-control(type='text', placeholder='title', ng-model='item.title', id='item-title')
                  div.col-lg-6.img-full.text-center
                    img.m-t(ng-src="{{ item.image || '/images/gift.png' }}", ng-class="{'empty-img': !item.image}")
                  div.col-lg-6
                    label(for='item-image') Paste image link:
                    input.form-control(
                      type='text',
                      placeholder='image url',
                      ng-model='itemImgUrl',
                      id='image')
                    label.m-t(for='item-price') Price:
                    input.form-control(
                      type='text',
                      placeholder='price $',
                      ng-model='item.price',
                      id='item-price')

                input(type='submit',value='PIZDANYT',ng-click='saveItem()')

            //- div.actions.m-t
            //-   button.btn.btn-white.btn-sm.btn-prev(type='button', disabled='disabled') Prev
            //-   button.btn.btn-white.btn-sm.btn-next.m-l-xs(type='button') Next

      div.col-lg-4
        div.dropdown
          a.dropdown-toggle Click me for a dropdown, yo!
          ul.dropdown-menu
            li(ng-repeat='choice in testItems')
              a {{ choice }}
